body {
  background-color: lightblue;
  background-image: url(http://i.imgur.com/BVsUxgo.jpg);
  background-size: 100%;
  margin: 10px;
}
h4 {
  text-align: right;
  display: block;
  color: rgb(249, 242, 240);
  font-family: 'Playfair Display', 'Calibri', serif;
  font-size: 80px;
  padding: 5px;
  margin: 25px;
}
/*.food{
  border: 1px solid red;
}*/
.interface-list {
  float: left;
  left: 50px;
  display: inline;
  font-family: 'Roboto Condensed', 'Calibri', serif;
  font-size: 14px;
  text-align:center;
  list-style-type: none;
  padding: 0px;
}
.party-section {
  background-color: rgba(94, 34, 7, 0.8);
  float: left;
  width: 265px;
  height: 375px;
  margin: 1% 2% 2% 5%;
  text-align: left;
  display: block;
  font-family: 'Lato', 'Calibri' sans-serif;
  /*font-size: 17px;*/
  color: white;
  /*margin-left: 5px;
  margin-right: 5px;*/
  padding: 1% 3% 3% 3%;
}
.food-section {
  background-color: rgba(94, 34, 7, 0.8);
  float: left;
  width: 265px;
  height: 375px;
  margin: 1% 2% 2% 2%;
  text-align: left;
  display: block;
  font-family: 'Lato', 'Calibri' sans-serif;
  /*font-size: 17px;*/
  color: white;
  /*margin-left: 5px;
  margin-right: 5px;*/
  padding: 1% 3% 3% 3%;
}
.bill-section {
  background-color: rgba(94, 34, 7, 0.8);
  float: left;
  width: 265px;
  height: 375px;
  margin: 1% 2% 2% 2%;
  text-align: left;
  display: block;
  font-family: 'Lato', 'Calibri' sans-serif;
  /*font-size: 17px;*/

  color: white;
  padding: 1% 3% 3% 3%;
}

h1{
  color: rgb(217, 236, 198);
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: -5px;
}
h2{
  color: rgb(217, 236, 198);
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: -5px;
}
h3{
  color: rgb(217, 236, 198);
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
}
/*#party-action {
  position: relative;
  left: 60px;
  top: 110px;
  color: rgb(217, 236, 198);
  font-family: 'Lato', 'Calibri' sans-serif;
}*/
/*#food-button {
  float: right;
}*/
#party-button{
  float: right;
  display: line-block;
  top: -10px;
  background-color: white;
  color: rgb(175, 55, 21);
  font-family: 'Playfair Display', 'Calibri' serif;
  font-size: 15px;
}
#food-button{
  float: right;
  display: line-block;
  top: -10px;
  background-color: white;
  color: rgb(175, 55, 21);
  font-family: 'Playfair Display', 'Calibri' serif;
  font-size: 15px;
}
  /*position: relative;
  left: 45px;
  right: 45px;
  top: 160px;
  background-color: white;
  color: rgb(175, 55, 21);
  font-family: 'Playfair Display', 'Calibri' serif;
  font-size: 13px;*/
/*#order-modify-button{
  position: relative;
  left: 45px;
  right: 45px;
  top: 160px;
  background-color: white;
  color: rgb(175, 55, 21);
  font-family: 'Playfair Display', 'Calibri' serif;
  font-size: 13px;
}*/
#receipt-button{
  position: relative;
  left: 50px;
  background-color: white;
  color: rgb(175, 55, 21);
  font-family: 'Playfair Display', 'Calibri' serif;
  font-size: 15px;
}
#bill-button{
  position: relative;
  left: 30px;
  background-color: white;
  color: rgb(175, 55, 21);
  font-family: 'Playfair Display', 'Calibri' serif;
  font-size: 15px;
}
#receipt-container {
  position: relative;
  left: 50px;
  font-size: 15px;
}
@media screen and (max-width: 300px) {
    body {
        background-color: lightblue;
    }
    .party-section {
        float: center;
    }
    .food-section {
        float: center;
    }
    .bill-section {
        float: center;
    }
}
.food-selected{
  border: 5px solid white;
}
.party-selected{
  border: 5px solid white;
}
