<html>
  <head>
    <title>Le Restaurant App</title>
    <link rel="stylesheet" href="/style/main.css">
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/backbone.js"></script>
    <script type="text/javascript" src="/scripts/underscore.js"></script>
    <script type="text/javascript" src"/scripts/app.js"></script>
  </head>
  <body>
    
    <section class="header">
      <h1>Le Restaurant App</h1>
    </section>

    <section class="party-section">
      <h1>Parties</h1>
      <ul>
        <li>Party 1</li>
        <li>Party 2</li>
        <li>Party 3</li>
      </ul>
    </section>

    <section class="order-section">
      <h1>Order</h1>
      <ul>
        <li>Food 1</li>
        <li>Food 2</li>
        <li>Food 3</li>
      </ul>
    </section>

    <section class="bill-section">
      <h1>Check, please!</h1>
      <ul>
        <li>Food item and price 1</li>
        <li>Food item and price 2</li>
        <li>Food item and price 3</li>
        <li>Sum</li>
        <li>Tip</li>
      </ul>
    </section>

  </body>
</html>
