<html>
 <head>
   <title>RESTaurant</title>
   <link rel="stylesheet" href="/style/main.css">
   <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,900' rel='stylesheet' type='text/css'>
 </head>
 <body>




   <!-- ****** JS Templates ****** -->
   <%= erb :templates %>
   <!-- ****** JS Libraries ****** -->
   <script src='/javascripts/lib/jquery.js'></script>
   <script src='/javascripts/lib/underscore.js'></script>
   <script src='/javascripts/lib/backbone.js'></script>

   <!-- ****** Backbone Models ****** -->
   <script src='/javascripts/models/FoodModel.js'></script>
   <script src='/javascripts/models/PartyModel.js'></script>

   <!-- ****** Backbone Collection ****** -->
   <script src='/javascripts/collections/FoodCollection.js'></script>
   <script src='/javascripts/collections/PartyCollection.js'></script>

   <!-- ****** Backbone Views ****** -->
   <script src='/javascripts/views/FoodView.js'></script>
   <script src='/javascripts/views/PartyView.js'></script>
   <script src='/javascripts/views/GeneralListView.js'></script>
   <script src='/javascripts/views/PartyReceiptView.js'></script>

   <!-- ****** JS Application ****** -->
   <script src='/javascripts/app.js'></script>

   <section class="header">
     <h4>Le Restaurant App</h4>
   </section>

   <section class="party-section">
     <h1>Parties</h1>
     <ul class='interface-list' id='party-list'>
       loading...
     </ul>

     <!-- <ul id="party-list">
     </ul> -->
     <!-- <form action="/" id = "party-action" method="post">
       <input type = "text" placeholder = "Party Name">
       <input type = "number" placeholder = "Number of People">
       <button id = "party-button">Add Party</button>
     </form> -->

   </section>

   <section class="food-section">
     <h2>Menu</h2>
     <ul class='interface-list' id='menu-list'>
       loading...
     </ul>

     <!-- <button id = "food-add-button">Add Order</button>
     <button id = "order-modify-button">Modify Order</button> -->
   </section>

   <section class="bill-section">
     <h3>Check, please!</h3>


     <button id = "bill-button">Submit Order</button>

     <button id = "receipt-button">Show Check</button>



     <div id="receipt-container"></div>
   </section>
 </body>
</html>

<!--


<html>
  <head>
    <title>Le Restaurant App</title>
    <link rel="stylesheet" href="/style/main.css">
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/backbone.js"></script>
    <script type="text/javascript" src="/scripts/underscore.js"></script>
    <script type="text/javascript" src"/scripts/app.js"></script>
  </head>
  <body>

    <section class="header">
      <h1>Le Restaurant App</h1>
    </section>

    <section class="party-section">
      <h1>Parties</h1>
      <ul>
        <li>Party 1</li>
        <li>Party 2</li>
        <li>Party 3</li>
      </ul>
    </section>

    <section class="order-section">
      <h1>Order</h1>
      <ul>
        <li>Food 1</li>
        <li>Food 2</li>
        <li>Food 3</li>
      </ul>
    </section>

    <section class="bill-section">
      <h1>Check, please!</h1>
      <ul>
        <li>Food item and price 1</li>
        <li>Food item and price 2</li>
        <li>Food item and price 3</li>
        <li>Sum</li>
        <li>Tip</li>
      </ul>
    </section>

  </body>
</html> -->
