<script type='text/template' id='test-template'>
  <p>Hi I am a template!</p>
</script>
<script type='text/template' id='test-template2'>
  <p>Hi I am a template!</p>
</script>

<script type='text/template' id='test-template3'>
  <p>Hi I am a template!</p>
</script>

<script type='text/template' id='test-template4'>
  <p>Hi I am a template!</p>
</script>
