<script type='text/template' id='food-template'>
  <p><%%= name %></p>
</script>

<script type='text/template' id='party-template'>
  <p><%%= name %>, Party of<%%= number%></p>
</script>
<!--
<script type='text/template' id='test-template2'>
  <p>Hi I am a template!</p>
</script>

<script type='text/template' id='test-template3'>
  <p>Hi I am a template!</p>
</script>

<script type='text/template' id='test-template4'>
  <p>Hi I am a template!</p>
</script> -->
