<script type='text/template' id='food-template'>
  <p><%%= name %>: &nbsp;$<%%= price %>
    &nbsp;<button class='select-food' id="food-button">Select</button></p>
</script>

<script type='text/template' id='party-template'>
  <p><%%= table_number %> &nbsp;
    &nbsp;<button class='select-party' id="party-button">Select</button></p>
</script>

<script type='text/template' id='receipt-template'>
  <p>$<%%= price%> &nbsp; <button class = 'select-receipt'
  id='receipt-button'>Pay Bill</button></p>
</script>
